:host {
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 0.25rem;
  padding: 0.7rem;
  display: block;
}

.hardware-icon {
  display: inline-block;
  width: 3rem;
  text-align: center;
}

.hardware-icon img {
  height: 2.5rem;
}
